html {
    scroll-behavior: smooth;
    font-size: 100%;
    /* 1rem to equal 16px */
}

body {
    background-color: #fff;
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #404040;
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    /* 32px */
    line-height: 1;
    font-weight: 600;
    padding-bottom: 1rem;
    /* 16px */
}

h3 {
    font-size: 1.5rem;
    /* 24px */
    line-height: 1;
    font-weight: 600;
    padding-bottom: 0.5rem;
    /* 8px */
}

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline;
}

.skip a {
    background: #fff;
    left: 0;
    padding: 0.375rem;
    /* 6px */
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a {
    position: absolute;
    top: -40px;
}

.skip a:focus {
    position: absolute;
    top: 20px;
}

:focus {
    outline: none;
    border: solid 2px;
}

.navbar {
    background-color: #00274C;
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 1.5rem;
    /* 8px */
    align-items: center;
    padding: 1rem;
    /* 16px */
}

.logo {
    width: 30vw;
    /* 10% of viewport width */
    grid-column: 1/-1;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column: 1/-1;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a.active {
    color: #FFE728;
    font-weight: bold;
    border-bottom: 0.125rem solid #FFE728;
    padding-bottom: 0.25rem;
}

.hero {
    background-color: #00274C;
    padding: 3rem 1rem;
    /* 48px 16px */
    color: #fff;
}

.hero h1 {
    font-size: 3.5rem;
    /* 56px */
    line-height: 1;
    padding-bottom: 2rem;
    /* 32px */
    font-weight: 600;
}

.hero h2 {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1;
    color: #FFE728;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 1rem;
    /* 16px */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.who-we-are {
    grid-column: 1/-1;
    padding: 3rem 1rem 1.5rem 1rem;
    /* 48px 16px 24px 16px */
}

.what-we-provide,
.gallery,
footer {
    grid-column: 1/-1;
    padding: 1.5rem 1rem;
    /* 24px 16px */
}

.who-we-are {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* 32px */
}

.who-we-are .item-1,
.who-we-are .item-2 {
    grid-column: 1/-1;
}

.who-we-are p:first-of-type {
    padding-bottom: 1rem;
    /* 16px */
}

.who-we-are .item-2 {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.feature-1,
.feature-2,
.feature-3,
.feature-4 {
    padding: 1.5rem 0;
    /* 24px top and bottom */
}

.feature-1 img,
.feature-2 img,
.feature-3 img,
.feature-4 img {
    padding-bottom: 1.5rem;
    /* 24px */
    width: 11rem;
    /* 176px */
}

.gallery .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    /* 4px */
}

.img img {
    width: 100%;
    height: 12.5rem;
    /* 200px */
    object-fit: cover;
}

footer {
    background-color: #00274C;
    padding: 3.125rem 1rem;
    /* 50px 16px */
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.5rem;
    /* 24px */
}

.footer-text {
    grid-column: 1/-1;
}

.contacts,
.sitemap {
    grid-column: 1/-1;
}

.contacts img {
    width: 1.5rem;
    /* 24px */
    margin-right: 0.5rem;
    /* 8px */
}

.contacts div:nth-last-child(1) img,
.contacts div:nth-last-child(2) img {
    filter: invert(100%);
}

.contacts div {
    display: flex;
    margin-bottom: 0.5rem;
    /* 8px */
}

.contacts a {
    text-decoration: none;
    color: #fff;
}

footer .logo,
.copyright {
    grid-column: 1 / -1;
}

footer .logo img {
    width: 7.5rem;
    /* 120px */
}

/* Styles for Recipes */

.main-text {
    padding: 3rem 1rem 1.5rem;
    /* 48px 16px 16px*/
}

.main-text h1 {
    font-size: 3rem;
    /* 48px */
    line-height: 1;
    font-weight: 600;
}

.art {
    padding: 0rem 1rem 3rem;
    /* 0px 16px */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.5rem;
    /* 24px */
}

.art article {
    grid-column: 1/-1;
}

.art article>img {
    width: 100%;
    height: 20rem;
    /* 320px */
    object-fit: cover;
    margin-bottom: 1rem;
    /* 16px */
}

.utensils {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.utensils div {
    display: flex;
    margin-bottom: 0.5rem;
    /* 8px */
}

.utensils img {
    width: 1.5rem;
    /* 24px */
    margin-right: 0.5rem;
    /* 8px */
    filter: invert(100%);
}

/* Styles for How to help */

.help section {
    grid-column: 1/-1;
    padding: 1rem 1rem 1.5rem 1rem;
    /* 48px 16px 24px 16px */
    margin-bottom: 1rem;
}


.visual {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    /* 24px */
    margin-top: 2rem;
}

.block {
    background-color: #00274C;
    grid-column: 1/-1;
    width: 100%;
    height: 12.5rem;
    /* 200px */
    display: flex;
    align-items: center;
}

.block img {
    display: block;
    margin: auto;
    width: 30%;
}

legend {
    font-size: 2rem;
    /* 32px */
    line-height: 1;
    font-weight: 600;
    padding-bottom: 1rem;
    /* 16px */
}


fieldset {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

div label {
    display: block;
}

fieldset input {
    width: 100%;
    height: 3.5rem;
    border-radius: 0.5rem;
}

fieldset input[type="submit"] {
    background-color: #00274C;
    color: #fff;
    font-weight: 700;
}

/* page not found styles */
.not-found {
    text-align: center;
    padding: 6rem 1rem;
    margin-bottom: 3rem;
}

.not-found h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.not-found img {
    width: 50%;
}

#default-img {
    display: none;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }

    .skip a {
        -webkit-transition: none;
        /* sets to default setting */
        transition: none;
        /* sets to default setting */
    }

    #animated-gif {
        display: none;
    }

    #default-img {
        display: block;
        margin: auto;
        padding-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 800px) {
    .navbar {
        padding: 1rem 6rem 1rem 6rem;
    }

    .logo {
        width: 10vw;
        grid-column: 1/2;
    }

    .nav-links {
        gap: 4rem;
        grid-column: 2/-1;
    }

    .hero {
        padding: 6rem 6rem;
        /* 48px 96px */
    }

    .who-we-are {
        padding: 6rem 6rem 3rem;
    }

    .what-we-provide {
        padding: 3rem 6rem;
    }

    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
    }

    .gallery {
        padding: 3rem 6rem 6rem;
    }

    footer {
        padding: 6rem 6rem 2rem;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem 4rem;
    }

    .main-text {
        padding: 6rem 6rem 3rem;
    }

    .art {
        gap: 4rem;
        padding: 0rem 6rem 6rem;
    }

    .art article:nth-child(even) {
        grid-column: 2;
    }

    .art article:nth-child(odd) {
        grid-column: 1;
    }

    .help section {
        padding: 0rem 6rem 1.5rem 6rem;
        margin-bottom: 3rem;
    }

    .visual div:nth-child(3n+1) {
        grid-column: 1;
    }

    .visual div:nth-child(3n+2) {
        grid-column: 2;
    }

    .visual div:nth-child(3n) {
        grid-column: 3;
    }

    fieldset {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
    }

    fieldset input[type="submit"] {
        grid-column: span 2;
    }

    .not-found {
        padding: 6rem;
        margin-bottom: 10rem;
    }

    .not-found img {
        width: 30%;
    }

}